.logo {
    width: 100px;
    height: 45px;
    background: rgb(92, 90, 104) url('../images/movielogo2.png');
    margin: 12px 24px 16px 0;
    float: left;
    border-radius: 6px;
    background-size:cover;
  }